body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-repeat: no-repeat;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon, orangered);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}
.shadow{
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    border-radius: 10px;
    border-left: 10px solid;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left; 
}
#pro-dev{
    border-left: 10px solid;
    border-image: linear-gradient(red , orange);
    border-image-slice: 1;
  
}
#baby-dev{
    border-left: 10px solid;
    border-image: linear-gradient(blue , cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}